asgiref==3.11.1
Django==6.0.5
djangorestframework==3.17.1
sqlparse==0.5.5
djangorestframework_simplejwt==5.5.1
pandas==3.0.3

psycopg2-binary==2.9.12
python-dotenv==1.0.1
django-cors-headers==4.4.0
django-filter==25.1
